<!doctype html>
<html lang="en">
{% include 'header.html' %}
<body class="full text-base font-normal flex flex-col bg-gray-50 gap-8 m-4">
	<header class="flex flex-row items-center justify-between">
		<h1 class="text-[2rem] font-bold tracking-tighter">Tasks</h1>
		<nav>
			<ul>
				<li>
					<a href="/tasks/new" class="underline">Add New Task</a>
				</li>
			</ul>
		</nav>
	</header>
	<main class="flex flex-col gap-4">
		{% include 'search.html' %}
		<section>
			{% include 'list.html' %}
		</section>
	</main>
</body>
</html>
